<label class="item item-input">
    <input type="text" ng-change="vm.filtra()" ng-model="vm.movimento.date" placeholder="Data">
</label>

<label class="item item-input">
    <input type="number" ng-change="vm.filtra()" ng-model="vm.movimento.value" placeholder="Valor">
</label>

<label class="item item-select">Tipo:  
    <select ng-change="vm.filtra()" ng-model="vm.movimento.type">
        <option value="Receita">Receita</option>
        <option value="Despesa">Despesa</option>
    </select>
</label>

