<ion-view ng-controller="tabelaController">
    <ion-nav-title>Consultas de Receitas/Despesas</ion-nav-title>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-change="filtraDescricao(textoPesquisa)" ng-model="textoPesquisa" type="search" placeholder="Buscar Item por Descrição">
            </label>
            
            <a class="button button-icon icon ion-settings" ng-click="filtroAvancado()"></a>
        </div>
        <label class="item item-input">
                <span class="input-label">Saldo Atual: </span>
                <span>R{{ saldoAtual | currency }}</span>
            </label>
        <ion-list>
            <ion-item ng-repeat="movimento in tabelaExibida">
                <div class="card">
                    <div class="item item-divider">
                        {{movimento.type}} - {{movimento.date}}
                    </div>
                    <div class="item item-text-wrap">
                        {{movimento.description}}
            
                        <ul class="list">
                            <li class="item item-toggle">
                                R{{movimento.value | currency }}
                                <label class="toggle toggle-assertive">
                                    <button ng-click="excluir(movimento)" class="button"><i class="icon ion-trash-a"></i></button>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="mudaTelaCadastro()">Adicionar nova Receita/Despesa</button>
    </ion-content>
</ion-view>