<ion-view ng-controller="tabelaController">
    <ion-nav-title>Consultas de Receitas/Despesas</ion-nav-title>
    <ion-content>
        <div class="bar bar-header item-input-inset">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input ng-change="filtra(textoPesquisa)" ng-model="textoPesquisa" type="search" placeholder="Buscar Item">
            </label>
        </div>
        <ion-list>
            <ion-item ng-repeat="movimento in tabelaExibida" href="#/movimentosDetalhados/{{movimento.id}}">
                {{movimento.descricao}} - {{movimento.data}}
            </ion-item>
        </ion-list>
        <button class="button button-block button-positive" ng-click="mudaTelaCadastro()">Adicionar nova Receita/Despesa</button>
    </ion-content>
</ion-view>