<ion-view>
    <ion-nav-title>Consultas de Receitas/Despesas</ion-nav-title>
    <ion-content>
        <label class="item item-input item-stacked-label">
            <input type="text" placeholder="Buscar Item">
        </label>

        <table class="table table-striped" ng-controller="tabelaController">
                <thead>
                  <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col">Valor</th>
                    <th scope="col">Data</th>
                    <th scope="col">Tipo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="receita in tabelaTeste">
                    <td>{{ receita.descricao }}</td>
                    <td>{{ receita.valor }}</td>
                    <td>{{ receita.data }}</td>
                    <td>{{ receita.tipo }}</td>
                  </tr>
                </tbody>
              </table>
    </ion-content>
</ion-view>