<ion-view>
    <ion-nav-title></ion-nav-title>
    <ion-content>
        <div class="card">
            <div class="item item-divider">
                {{listaMovimento.type}} - {{listaMovimento.date}}
            </div>
            <div class="item item-text-wrap">
                {{listaMovimento.description}}
    
                <ul class="list">
                    <li class="item item-toggle">
                            R{{listaMovimento.value | currency }}
                            <label class="toggle toggle-assertive">
                                <button ng-click="excluir()" class="button"><i class="icon ion-trash-a"></i></button>
                            </label>
                        </li>
                </ul>
            </div>
        </div>
    </ion-content>
</ion-view>